<!DOCTYPE html>
<html>
  <head>
    <title>EvenTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
    <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
        <script src="https://use.fontawesome.com/622f283375.js"></script>

  </head>

  <body>
    <%= yield %>
    <div id="app">
    </div>
  </body>
       <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,fetch,Array.prototype.includes"></script>

</html>
